<h2><%= @notebook.title %></h2>
<span><%= link_to 'new note', new_notebook_note_path(@notebook) %></span>
<table class='notes' summary='User notes'>
  <%= render @notes, :notebook => @notebook %>
</table>
