<tr>
  <td class='note'>
    <span class='content'><%= make_title(note.content) %></span>
  </td>
  <td>
    <%= link_to 'show', notebook_note_path(notebook, note), :class => 'right' %>
  </td>
  <td>
    <%= link_to 'edit', edit_notebook_note_path(notebook, note), :class => 'right' %>
  </td>
  <td>
    <%= link_to 'delete', notebook_note_path(notebook, note), :method => :delete,
                                :confirm => 'You sure?', :class => 'right' %>
  </td>
</tr>
