<div class='note_navigation'>
  <span class='left'><%= link_to 'back to notebook', notebook_path(@note.notebook) %></span>
  <span class='right'><%= link_to 'edit', edit_notebook_note_path(@notebook, @note) %></span>
</div>
<p><strong>Tags </strong><%= @note.tag_list %></p>
<div class='note'><%= markdown(@note.content) %></div>
