<table class='note_navigation'>
  <tr>
    <td class='back'><%= link_to 'back to notebook', notebook_path(@note.notebook) %></td>
    <td class='edit'><%= link_to 'edit', edit_note_path(@note) %></td>
  </tr>
</table>
<div class='note'><%= @note.content %></div>
