<h2>NoteHive</h2>
<% if signed_in? %>
  <p>To create new notebooks and notes, click on the 'Notebooks' button at
    the top navigation menu.</p>
<% else %>
  <p>This is the home page for the NoteHive application.</p>
  <%= link_to 'Sign up now!', signup_path, :class => 'signup_button round' %>
<% end %>
