.container {
  width: 95%;
}

body {
  background: #51523E;
}

header {
  padding-top: 10px;
}

section {
  margin-top: 2em;
  font-size: 120%;
  padding: 20px;
  background: #fff;

  h1 {
    font-size: 200%;
  }
}

footer {
  text-align: center;
  width: 100%;
  margin: 10px 0px 0px 0px;

  nav {
    float: none;
  }
}

/* links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* navigation */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;
        
        &:visited { color: #09c; }
        &:hover { text-decoration: underline; }
      }
    }
  }
}

/* round corners */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* signup button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.div.field, .div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0px;
    padding: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table.notebooks {
  margin-top: 1em;

  tr {
    td {
      border-top: 1px solid #ccc;
    }

    td.notebook {
      vertical-align: top;
      padding-top: 10px;
      width: 85%;
    }
  }
}

table.notes {
  margin-top: 1em;

  tr {
    td {
      border-top: 1px solid #ccc;
    }

    td.note {
      vertical-align: top;
      padding-top: 10px;
      width: 85%;
    }
  }
}

.note_navigation {
  margin-bottom: 30px;
}

.note {
  float: none;
  clear:both;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  text-align: left;
}

.note_content_textarea {
  width: 100%;
}

.pagination {
  clear: both;
  float: none;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 10px;
}

table.profile {
  width: 100%;

  td.main {
    width: 70%;
    padding-left: 0px;
  }

  td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
  }
}

.tags {
  text-align: center;
}

@mixin tag_style {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.css1 {
  font-size: 1.0em;
  @include tag_style;
}
.css2 {
  font-size: 1.2em;
  @include tag_style;
}
.css3 {
  font-size: 1.4em;
  @include tag_style;
}
.css4 {
  font-size: 1.6em;
  @include tag_style;
}

a.delete {
  color: #800000;
}

.action {
  width: 5%;
}

.timestamp {
  display: block;
  text-size: 85%;
  color: #666;
}
